# Show Output

In [1]:
# Show output
print("Hola Mundo")

Hola Mundo

# Data Types
---

### Inmutable types
Objects that cannot be modified after they are created. Any "change" you make actually creates a **new object in memory**.

In [ ]:
example_int = 1
example_float = 2.1
example_bool = True
example_str = "Hello"
example_tuple = (1, 2.1,  "Hello", True, (1, 1), [1, 2], {"key": "value"}, {"apple", "banana"}) # Accepts multiple data types: int, float, string, bool, tuple, list, tuple, dict, set

In [ ]:
# Output inmutables
print(f"Variable Name: example_int | Output: {example_int} | Type:{type(example_int)}")
print(f"Variable Name: example_float | Output: {example_float} | Type:{type(example_float)}")
print(f"Variable Name: example_bool | Output: {example_bool} | Type:{type(example_bool)}")
print(f"Variable Name: example_str | Output: {example_str} | Type:{type(example_str)}")
print(f"Variable Name: example_tuple | Output: {example_tuple} | Type:{type(example_tuple)}")

Variable Name: example_int | Output: 1 | Type:<class 'int'>
Variable Name: example_list | Output: [1, 1.1, 'Hello', (1, 2), [1, 2], {'key': 'value'}, {'banana', 'apple'}] | Type:<class 'list'>
Variable Name: example_bool | Output: True | Type:<class 'bool'>

### Mutable types
**Can be modified in place** without a new object in memory.

In [ ]:
example_list = [1, 2.1,  "Hello", True, (1, 1), [1, 2], {"key": "value"}, {"apple", "banana"}]
example_dict = {
    "key": "value",
    1: ("tuple", "values"),
    2: ["list", "values"],
    3.1: {"set", "values"}
}
example_set = {1, 1.1,  "Hello", (1, 2), True} # It does't accepts list or dict types

#### Convert from str to int

In [13]:
str_num = "100"
int_num = int(str_num)

In [14]:
print(type(str_num))
print(type(int_num))

<class 'str'>
<class 'int'>

## Lists

In [15]:
example_list_2 = [] # Empty list
type(example_list_2)

list

In [16]:
example_list_2.append(1) # Adds the element in the 
example_list_2

[1]